.sect_1{
    height: 1000px;
}
.sect_2{
    height: 720px;
}
.cont{
    background-image: url(../assets/images/wallpaper2.jpg);
    background-position: center center;
}
h1,h2{
    font-family: 'Rubik Wet Paint', cursive;
}

body{
    font-family: 'Source Serif Pro', serif;
    background-image: url(../assets/images/wallpaper5.jpg);
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
    the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
}
